@import "tailwindcss";

:root {
    font-family: "Inter", sans-serif;

    --text-primary: #1f1f1b;
    --text-secondary: #79745c;
    --text-muted: #9a9a91;
    --text-inverse: #ffffff;

    --primary: #704E2E;
    --secondary: #79745C;
    --background: #fafaf8;
    --accent: #CDE77F;
    --success: #709176;

    --foreground: #1a1a1a;
    --muted: #79745C;
    --border: #e5e5df;
}
